<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Upload</title>
	<!-- Css files -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/tree-menu.css" rel="stylesheet">
	<script type="text/javascript" language="javascript">
		function changeFrameHeight() {
			var ifm = document.getElementById("cmpp_iframe");
			ifm.height = document.documentElement.clientHeight;
			//$(ifm).attr('src','img?type=all');
		}
		window.onresize = function () {
			changeFrameHeight();
		}
	</script>
	<style>
	 html{overflow:hidden}
	</style>
</head>

<body>
	<div class="content">
		<!-- start: Main Menu -->
		<div class="sidebar">
			<div class="sidebar-collapse">
				<!-- <div class="sidebar-header">
					<span><img class="text-logo" src="images/logo.png" /></span>
				</div> -->
				<div id="sidebar-menu" class="sidebar-menu">
					<ul class="nav nav-sidebar">
						<li class="active"><a href="beacon/tour" target="main"><i class="fa fa-feed"></i><span class="text">Beacons</span></a></li>
						<!-- <li><a href="file?type=all" target="main"><i class="fa fa-file"></i><span class="text"> <%= lang.all %></span></a></li> -->
						<li><a href="file?type=photo" target="main"><i class="fa fa-photo"></i><span class="text"> <%= lang.photo %></span></a></li>
						<li><a href="file?type=video" target="main"><i class="fa fa-video-camera"></i><span class="text"> <%= lang.video %></span></a></li>
						<li><a href="file?type=audio" target="main"><i class="fa fa-music"></i><span class="text"> <%= lang.audio %></span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- end: Main Menu -->
		<!-- start: Content -->
		<div class="main">
			<iframe name="main" id="cmpp_iframe" class="cmpp_iframe" width="100%"  height="100%" src="beacon/tour" frameborder="0" onload="changeFrameHeight()"></iframe>
		</div>
		<!-- end: Content -->
	</div>
	<!--/container-->
	<div class="clearfix"></div>
	<!-- start: JavaScript-->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/tree-menu.js"></script>
	<!-- end: JavaScript-->
</body>

</html>